**/build/*.aux
**/build/*.log
**/build/*.fls
**/build/*.fdb_latexmk
**/build/*.nav
**/build/*.snm
**/build/*.toc
**/build/*.out
**/build/*.xdv
**/build/*.synctex.gz
**/build/*.vrb



*.aux
*.log
*.fls
*.fdb_latexmk
*.out
*.toc
*.nav
*.snm
*.synctex.gz
*.bbl
*.blg
*.vrb